.dub
__dub_cache__/
docs.json
__dummy.html
docs/

# build outputs
/bin/
/dreads
libdreads*
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
*.pdb
*.o
*.obj
*.lst

# reggae/ninja
build.ninja
rules.ninja
.ninja_deps
.ninja_log
.reggae/
compile_commands.json

# runtime state
*.aof
