.dub
docs.json
__dummy.html
docs/
/dedis
dedis.so
dedis.dylib
dedis.dll
dedis.a
dedis.lib
dedis-test-*
dreads*
build/*
compile_commands.json
build.ninja
libdreads*
test_runner.d
dub.selections.json
*.exe
*.pdb
*.o
*.obj
*.lst
*.ninja
